html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

.page-wrapper {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1600px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
}

.burger-btn {
    margin: 1rem 0;
    padding: 1rem 2rem 1rem 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.burger-btn i {
    font-size: 3rem;
}

main {
    position: relative;
    background-image: url('../img/main.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: relative;
    font-family: 'Ultra', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 20rem;
    letter-spacing: 25px;
    color: #ffda43;
}

.logo sup {
    margin: 4rem 0 0;
    position: absolute;
    font-size: 5rem;
}

.choose-site-wrapper {
    width: 35%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    margin-bottom: 0;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.choose-site-btn {
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 50px;
    border: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.text {
    padding: 2rem;
    display: inline-block;
    width: 20%;
    height: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #ffda43;
}

.choose-site {
    padding: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    cursor: pointer;
}

.fa-angle-up {
    font-size: 1.6rem;
}

.fa-arrow-down {
    margin: 1rem 3rem 2rem;
    color: #fff;
    font-size: 3rem;
}

.choose-site {
    width: 100%;
    background-color: #ffec8d;
}

nav {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    row-gap: 2rem;
}

.link {
    position: relative;
    width: 100%;
    height: 130px;
    padding: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.link a {
    padding: 1rem;
    position: absolute;
    bottom: 20%;
    text-decoration: none;
    color: #fff;
    font-size: 3.6rem;
    font-weight: bold;
    z-index: 10;
}

.link span {
    text-transform: uppercase;
}

.link-today {
    background-image: url('../img/today.jpeg');
}

.link-about {
    background-image: url('../img/about.jpeg');
}

.link-museum {
    background-image: url('../img/museum.jpeg');
}

.link-ath22 {
    background-image: url('../img/h22.jpeg');
}