html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Ultra', serif; */
    box-sizing: border-box;
    min-height: 100vh;
}

.page-wrapper {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1600px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
}

.burger-btn {
    margin: 1rem 0;
    padding: 1rem 2rem 1rem 0;
    border: 0;
    background: transparent;
}

.burger-btn i {
    font-size: 3rem;
}

main {
    background-image: url('../img/main.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    width: 100%;
    row-gap: 2rem;
}

.link {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.link a {
    padding: 1rem;
    position: absolute;
    bottom: 20%;
    text-decoration: none;
    color: #fff;
    font-size: 3.6rem;
    font-weight: bold;
    z-index: 10;
}

.link span {
    text-transform: uppercase;
}

.link-today {
    background-image: url('../img/today.jpeg');
}

.link-about {
    background-image: url('../img/about.jpeg');
}

.link-museum {
    background-image: url('../img/museum.jpeg');
}

.link-ath22 {
    background-image: url('../img/h22.jpeg');
}