html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Ultra', serif; */
    box-sizing: border-box;
    min-height: 100vh;
}

.page-wrapper {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
}

main {
    background-image: url('../img/main.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 250px;
    width: 100%;
    row-gap: 2rem;
}

.link {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-today {
    background-image: url('../img/today.jpeg');
}

.link-about {
    background-image: url('../img/about.jpeg');
}

.link-museum {
    background-image: url('../img/museum.jpeg');
}

.link-ath22 {
    background-image: url('../img/h22.jpeg');
}